:root {
  --color-1: #03045e;
  --color-2: #0077b6;
  --color-3: #00b4d8;
  --color-4: #90e0ef;
  --color-5: #caf0f8;
  --color-6: #f6fff8;
}
/*BLOG PAGE*/
#Blog .sec-1{
  background:
  url("https://media.istockphoto.com/id/471082863/photo/gentle-water-surface.jpg?s=612x612&w=0&k=20&c=B0dKkjjb5xTbwkHPjtrjthosGi_dOpayJTT0998C9A0=");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}
#Blog .sec-1i{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  min-height: 55vh;
}
#Blog nav, #Blog nav a, #Blog #displaY, #Blog .logo{
  color: var(--color-6);
}
#Blog nav{
  font-size: 1.2rem;
}
#Blog .sec-li p{
  font-size: 2.5rem;
}
#Blog .sec-1 .big-bold{
  text-transform: capitalize;
  color: var(--color-1);
}
#Blog .sec-1 .button{
  background-color: var(--color-1);
  border-color: var(--color-1);
  color: var(--color-6);
}
#Blog .sec-1 .button:hover{
  background-color: var(--color-6);
  border-color: var(--color-1);
  color: var(--color-1);
  transition: 0.5s;
}
#Blog .sec-2{
  display: flex;
  padding: 15px;
  width: 100%;
  overflow-x: hidden;
}
#Blog .sec-2 .left{
  width: 70%;
}
#Blog .sec-2 .left .grided{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 15px;
}
#Blog .sec-2 .left .big-bold,
#Blog .sec-2 .right .big-bold{
  font-weight: 600;
  text-decoration: underline;
  margin-bottom: 10px;
}
#Single{
  width: 80%;
  margin: auto;
  color: var(--color-1);
  margin-bottom: 10px;
  height: fit-content;
  text-transform: capitalize;
  box-shadow: 0px 0px 7px 4px rgba(0, 0, 0, 0.3);
  padding-bottom: 15px;
}
#Single .content{
  width: 90%;
  margin: auto;
}
#Single .bc{
  border-top: 1px solid var(--color-4);
  margin-top: 5px;
  padding-top: 3px;
}
#Single .tell{
  font-size: 0.8rem;
  display: flex;
  gap: 10px;
  text-transform: lowercase;
  margin-bottom: 10px;
}
#Single .tell span{
  text-transform: capitalize;
}
#Single .blogImg{
  width: 100%;
  height: 270px;
}
#Single .topic{
  font-size: 1.3rem;
  font-weight: bold;
  margin-bottom: 10px;
}
#Single .icon{
  width: 17px;
  height: 17px;
}
#Single .com{
  display: flex;
  align-items: center;
  gap: 3px;
  font-size: 1.1rem;
  background-color: rgb(224, 222, 222);
  width: fit-content;
  margin-left: auto;
  padding: 5px;
  border-radius: 5px;
}
#Single .about{
  font-size: 0.9rem;
  margin-bottom: 10px;
}
#Blog .sec-2 .right{
  width: 30%;
}
#Blog .sec-2 .right .big-bold{
  font-size: 1.5rem;
}
#Blog .sec-2 .right .search{
  display: flex;
  border: 1px solid var(--color-1);
  border-radius: 15px;
  align-items: center;
  width: 70%;
  padding: 3px;
  margin: 30px auto;
  margin-top: 0;
}
#Blog .sec-2 .right .search input{
  width: 95%;
  border: none;
  background-color: transparent;
}
#Blog .sec-2 .right .aligned{
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 90%;
  margin: auto;
}
#Tops{
  display: flex;
  border-bottom: 1px solid var(--color-1);
  padding-bottom: 10px;
  align-items: center;
  gap: 3px;
}
#Tops img{
  width: 100px;
}
#Blog .categories{
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
  margin: 10px 0;
}
#Blog .categories p{
  border-radius: 20px;
  padding: 7px 15px;
  background-color: white;
  color: rgb(175, 172, 172);
  transition: 0.5s;
}

#Blog .categories .selected{
  background-color: var(--color-5);
}
@media(max-width: 700px){
  #big-scr{
    display: none;
    opacity: 0;
    height: 0vh;
    margin-bottom: 20px;
  }
  #Blog .sec-1i{
    min-height: 30vh;
  }
  #Blog .sec-1 .big-bold{
    font-size: 1.2rem;
  }
  #Blog .sec-2{
    display: flex;
    flex-direction: column-reverse;
    padding: 15px;
  }
  #Blog .sec-2 .left{
    width: 100%;
  }
  #Blog .sec-2 .left .grided{
    grid-template-columns: 1fr;
    grid-gap: 10px;
  }
  #Single{
    width: 95%;
    margin-bottom: 10px;
    border-bottom: 1px solid var(--color-4);
  }
 
  #Blog .sec-2 .right{
    width: 95%;
  }
  #Blog .sec-2 .right .big-bold{
    font-size: 1.5rem;
  }
  #Blog .sec-2 .right .search{
    width: 90%;
  }
  #Blog .sec-2 .right .aligned{
    width: 90%;
  }
  #Tops{
    display: flex;
  }
  
  #Single .blogImg{
    height: 200px;
  } 
}
#CLEAR{
  background-color: rgb(88, 2, 2);
  padding: 5px;
  border: none;
  color: white;
  font-size: 1.1rem;
  font-weight: bold;
  cursor: pointer;
}